@model ProyectoHogarDulceCorazonJoelGramajo.Models.Fichas_médicas

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Fichas_médicas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha emisión
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_de_emisión)
        </dd>

        <dt>
            Nombre niño
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Niños.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Código_ficha_médica }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
