@model ProyectoHogarDulceCorazonJoelGramajo.Models.Estados_de_tratamientos

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Estados de tratamientos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Estado tratamiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_estado_tratamiento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
