@model ProyectoHogarDulceCorazonJoelGramajo.Models.Estados_de_tratamientos

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Estados de tratamientos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Estado tratamiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_estado_tratamiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Estado_de_tratamiento }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
