@model ProyectoHogarDulceCorazonJoelGramajo.Models.Géneros

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Géneros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Género
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreGenero)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
