@model ProyectoHogarDulceCorazonJoelGramajo.Models.Géneros

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Géneros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Género
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreGenero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Género }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
